.brand-wrapper{
  min-height:$brand-section-height;
  background:map-get($colors, white);
  justify-content: center;
  align-items: center;
}

.brand-wrapper__slider{
  width: 68.75%;
  @include auto-margin;
  @include padding(left, 15px);
  @include padding(right, 15px);
  @include media("<=v-991"){
    width: $full-100;
  }
}
.brand-items{
  @include padding(left, 10px);
  @include padding(right, 10px);
  text-align:center;
  min-height:70px;
  & img{
    margin: auto;
    @include absolute-center;
  }
}

.call-to-action-wrapper{
  min-height: 120px;
  @include media("<=v-991"){
    min-height: auto;
  }
}
.call-action__col{
  @include default-flex-col(50%);
  height:$full-100;
  @include media("<=v-991"){
    & svg{
      @include display(none);
    }
  }
 

  &.preowned--watches{
    background: map-get($colors, thin-grey );
    & .call-action__col__inner-wrapper{
      & span{
        color: map-get($colors, light-yellow);
        @include media("<=v-991"){
          color:map-get($colors, white);
        }
      }

      & .call-action__icon{
        color: map-get($colors, light-yellow);
      }
    }
    @include media("<=v-991"){
      background: map-get($colors, black);
    }
  }
  &.unworns--watches{
    background: map-get($colors, light-grey);
   
    & span, & .call-action__icon{
      color: map-get($colors, black);
      
    }
  }
}

.call-action__col__inner-wrapper{
  height:$full-100;
  justify-content: center;
  align-items: center;
  padding: px2rem(20px) 0;
  @include media("<=v-991"){
    text-align:center;
    padding: px2rem(15px) 0;
    & i{
      @include display(none);
    }
  }

  & span{
    font-family: $cinzel-regular;
    font-size: px2rem($base-font-size + 19);
    font-weight: $font-weight-bold;
    letter-spacing: px2rem(1.01px);
    @include padding(left, 15px);

    @include media("<=v-991"){
      @include display(block);
      @include padding(left,15px);
      @include padding(right,15px);
      font-size:px2rem(16px);
    }

  }
}

.call-action__icon{
  margin-left: px2rem(9px);
}
#oldWatch{
  width:20%;
  & .st0{fill:#d7a678 !important};
}
#newWatch{
  width:30%;
}
