
@font-face {
  font-family: 'BiloxiScript';
  src: url('../fonts/BiloxiScript.eot?#iefix') format('embedded-opentype'),  url('../fonts/BiloxiScript.woff') format('woff'), url('../fonts/BiloxiScript.ttf')  format('truetype'), url('../fonts/BiloxiScript.svg#BiloxiScript') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Cinzel-Regular';
  src: url('../fonts/Cinzel-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Cinzel-Regular.woff') format('woff'), url('../fonts/Cinzel-Regular.ttf')  format('truetype'), url('../fonts/Cinzel-Regular.svg#Cinzel-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-Black';
  src: url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Black.otf')  format('opentype'),
	     url('../fonts/Gotham-Black.woff') format('woff'), url('../fonts/Gotham-Black.ttf')  format('truetype'), url('../fonts/Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf')  format('truetype'), url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Gotham-BoldItalic';
  src: url('../fonts/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-BoldItalic.woff') format('woff'), url('../fonts/Gotham-BoldItalic.ttf')  format('truetype'), url('../fonts/Gotham-BoldItalic.svg#Gotham-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf')  format('truetype'), url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-BookItalic';
  src: url('../fonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),  url('Gotham-BookItalic.woff') format('woff'), url('Gotham-BookItalic.ttf')  format('truetype'), url('Gotham-BookItalic.svg#Gotham-BookItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Light.otf')  format('opentype'),
	     url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.ttf')  format('truetype'), url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-LightItalic';
  src: url('../fonts/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-LightItalic.woff') format('woff'), url('../fonts/Gotham-LightItalic.ttf')  format('truetype'), url('../fonts/Gotham-LightItalic.svg#Gotham-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf')  format('truetype'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-MediumItalic';
  src: url('../fonts/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-MediumItalic.woff') format('woff'), url('../fonts/Gotham-MediumItalic.ttf')  format('truetype'), url('../fonts/Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-Thin';
  src: url('../fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Thin.otf')  format('opentype'),
	     url('../fonts/Gotham-Thin.woff') format('woff'), url('../fonts/Gotham-Thin.ttf')  format('truetype'), url('../fonts/Gotham-Thin.svg#Gotham-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-ThinItalic';
  src: url('../fonts/Gotham-ThinItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-ThinItalic.otf')  format('opentype'),
	     url('../fonts/Gotham-ThinItalic.woff') format('woff'), url('../fonts/Gotham-ThinItalic.ttf')  format('truetype'), url('../fonts/Gotham-ThinItalic.svg#Gotham-ThinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-XLight';
  src: url('../fonts/Gotham-XLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-XLight.otf')  format('opentype'),
	     url('../fonts/Gotham-XLight.woff') format('woff'), url('../fonts/Gotham-XLight.ttf')  format('truetype'), url('../fonts/Gotham-XLight.svg#Gotham-XLight') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-XLightItalic';
  src: url('../fonts/Gotham-XLightItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-XLightItalic.otf')  format('opentype'),
	     url('../fonts/Gotham-XLightItalic.woff') format('woff'), url('../fonts/Gotham-XLightItalic.ttf')  format('truetype'), url('../fonts/Gotham-XLightItalic.svg#Gotham-XLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

/***********ICOMOON Font*******************/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4qa754');
  src:  url('../fonts/icomoon.eot?4qa754#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4qa754') format('truetype'),
    url('../fonts/icomoon.woff?4qa754') format('woff'),
    url('../fonts/icomoon.svg?4qa754#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon-world.eot?7sjl0c');
  src:  url('../fonts/icomoon-world.eot?7sjl0c#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-world.ttf?7sjl0c') format('truetype'),
    url('../fonts/icomoon-world.woff?7sjl0c') format('woff'),
    url('../fonts/icomoon-world.svg?7sjl0c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  @include display(inline-block);
  @include margin(right, 5px);

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pointed-left-arrow:before {
  content: "\e903";
}
.icon-pointed-right-arrow:before {
  content: "\e904";
}
.icon-locate:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-world:before {
  content: "\e905";
}