//=======================================//
// FULL HEIGHT & WIDTH MIXIN //
//=======================================//

@mixin full-height{
    height: 100%;
    height: 100vh;
}

@mixin full-width{
    width: 100%;
    width: 100vw;
}

//=======================================//
// DISPLAY MIXIN //
//=======================================//

@mixin display($property, $eq-table: false, $vertical-align: null){
    @if $property == 'force-none'{
        display: none !important;
    }
    @else {
        display: $property;
    }

    @if $property == 'table'{
        display: table;
        width: $full-100;
        height: $full-100;
        border-collapse : collapse;

        @if $eq-table == true{
            table-layout: fixed;
        }
    }

    @if $property == 'table-cell'{
        display: table-cell;
        width: $full-100;
        height: $full-100;
        vertical-align: $vertical-align;
    }

    @if $property == 'inline-block'{
        vertical-align: middle;
    }
}

//=======================================//
// MARGIN MIXIN //
//=======================================//

@mixin margin($pos, $margin){
  margin-#{$pos}: px2rem($margin);
}

@mixin auto-margin{
	margin-left: auto;
	margin-right: auto;
}



//=======================================//
// PADDING MIXIN //
//=======================================//

@mixin padding($pos, $padding){
  padding-#{$pos}: px2rem($padding);
}



//=======================================//
// FLEXBOX MIXIN //
//=======================================//

@mixin flex-box( $wrap, $flex-direction : null){
  display: flex;
  flex-wrap: $wrap;

  @if $flex-direction {
  	flex-direction: $flex-direction;
  }

  width: $full-100;
}

//=====================================//
// DEFAULT FLEX COLUMN
//====================================//
@mixin default-flex-col($width){
 flex : 1 0 $width;
 max-width: $width;
}

@mixin auto-flex-col{
    flex: 1 0 auto;
    max-width: none;
}

@mixin absolute-center-flex-box{
    justify-content: center;
    align-items:center;
}

//=====================================//
// FLEX COLUMN GRID
//====================================//

@mixin flex-col-grid( $number, $no-max-width: null ){
 $x : decimal-round( $full-width / $number , 2, round );
 flex: 1 0 $x;

 @if $no-max-width{
     max-width: none;
 } @else {
     max-width : $x;
 }
 height: $full-100;
}

//=====================================//
// BROWSER PREFIX
//====================================//

@mixin browser-prefix( $key, $value ){
             #{ $key } : $value;
     -webkit-#{ $key } : $value;
        -moz-#{ $key } : $value;
          -o-#{ $key } : $value;
         -ms-#{ $key } : $value;
}



//=====================================//
// OPACITY
//====================================//
@mixin opacity($value){
    $ms : $value * 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity= #{$ms})";
    filter: alpha(opacity= #{$ms});
    -moz-opacity : $value;
    -khtml-opacity: $value;
    opacity: $value;
}


//=============================================//
// BORDER RADIUS
//=============================================//

@mixin border-radius($radius){
    @include browser-prefix(border-radius, $radius);
}

@mixin box-shadow($bs){
    box-shadow: $bs;
}

//=============================================//
// Placeholder
//=============================================//

@mixin placeholder{
    &::-webkit-input-placeholder{
      @content;
    }
    &::-moz-placeholder{
      @content;
    }
    &:-ms-input-placeholder{
      @content;
    }
    &:-moz-placeholder{
      @content;
    }
  }

//=============================================//
// Transform
//=============================================//

@mixin transform( $value){
    @include browser-prefix( transform, $value);
}


//=============================================//
// Transition
//=============================================//

@mixin transition($transition){
 @include browser-prefix(transition, $transition );
}


 //=======================================//
// BORDER RADIUS MIXIN //
//=======================================//
 @mixin border-radius($br){
    border-radius: $br ;
    -webkit-border-radius: $br ;
    -moz-border-radius: $br ;
    -ms-border-radius: $br ;
    -o-border-radius: $br ;
}


//=============================================//
// Absolute Center Block
//=============================================//

@mixin absolute-center{
    top:50%;
    left:50%;
    @include transform(translate(-50%, -50%));
    position: absolute;

}

//=============================================//
// Background Image
//=============================================//

@mixin background-image($background-size, $background-repeat, $background-position: null ){

    @include browser-prefix(background-size, $background-size );
    background-repeat: $background-repeat;

    @if $background-position{
        background-position: $background-position;
    }
}

//=======================================//
// ANIMATION MIXIN //
//=======================================//

@mixin animation($animation-name, $animation-duration, $animation-timing-function, $animation-delay: null, $animation-iteration-count: null, $animation-direction: null, $animation-fill-mode: null) {
    animation: $animation-name $animation-duration $animation-timing-function $animation-delay $animation-iteration-count $animation-fill-mode;
    -webkit-animation: $animation-name $animation-duration $animation-timing-function $animation-delay $animation-iteration-count $animation-fill-mode;
    -moz-animation: $animation-name $animation-duration $animation-timing-function $animation-delay $animation-iteration-count $animation-fill-mode;
    -ms-animation: $animation-name $animation-duration $animation-timing-function $animation-delay $animation-iteration-count $animation-fill-mode;
}

@mixin keyframes($aimation-name) {
    @keyframes #{$aimation-name} {
        @content;
    }

    @-webkit-keyframes #{$aimation-name} {
        @content;
    }

    @-moz-keyframes #{$aimation-name} {
        @content;
    }

    @-ms-keyframes #{$aimation-name} {
        @content;
    }
}
